.container {
    padding: 0 1rem;
}

.btnAddItem {
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
}

.btnAddItem:hover {
    background: #666;
}

